<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.poeschl.apps.debuganddelete">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".app.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.broadcastReciever.AppInstall"
            android:exported="true"></receiver>

        <service
            android:name=".service.HandleInstallService"
            android:exported="false"></service>
    </application>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>
